form {
}

fieldset {
  margin-bottom: $column-gutter;
}

.field-container {
  margin-bottom: $column-gutter;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="color"],
textarea,
select {
  box-sizing: border-box;
  border: $form-border;
  padding: $form-padding;
  outline: none;
  font-size: $form-font-size;
  font-family: $base-font-family;
  font-weight: $font-weight-normal;
  color: $input-color;
  margin: 0 0 $half-column-gutter;
  width: $form-width;
  max-width: 100%;
  display: block;
  background: $white;
}

select {
  padding: $select-padding;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="color"]:focus,
textarea:focus {
  border: $form-border-focus;
  color: $input-focus-color;
  @include box-shadow($drop-shadow);
}

textarea, #cke_content {
  min-height: 60px;
  margin-bottom: $column-gutter;
}

label,
legend {
  display: block;
  font-weight: $font-weight-normal;
  font-size: $font-one;
  margin: 0 0 remCalc(6) 0;
}

select {
  width: $form-width;
}

label.inline {
  display: inline;
  padding-bottom: $column-gutter;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-bottom: 0;
}

label abbr,
legend abbr {
  font-weight: $font-weight-normal;
  font-size: $font-one;
  color: $text-color;
}

input.error {
  border-color: $error-color;
  margin-bottom: remCalc(6);
}

label.error {
  color: $accent;
  margin-bottom: $column-gutter;
}

input[readonly] {
  font-weight: $font-weight-bold;
  background-color: $grey;
}
